*{
    margin: 0;
    padding: 0;
}

.personas{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
table{
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 66%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #e1e9f0;
}

th{
    background-color: #49628d;
    color: white;
}

td{
    padding: 10px;
}
.link{
        margin-right: 10px;
}